<div class="row">
  <div class="col-sm-10">
      <h1><%= @user.full_name %></h1>
  </div>
  <div class="col-sm-2">
      <%= image_tag(@user.gravatar_url) %>
  </div>
</div>
<hr>
    <% if signed_in? %>
    <div id="friend-status">
    	<% if current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
    	<% else %>
    	<%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class:"btn btn-primary"%>
    	<% end %>
    </div><br>
    <% end %>

    <% if @statuses %>
      <% @statuses.each do |status| %>
        <div class="row well">
          <div class="col-sm-12">
          <%= status.content %>
          <hr />
          <%= link_to time_ago_in_words(status.created_at), status_path(status) %> ago
          </div>
        </div>
      <% end %>
    <% end %>