<div class="row">
	<h1>Friends</h1>
</div>
<hr>

<div class="row">
  	<div class="col-sm-2">
  		<%= image_tag @user_friendship.user.gravatar_url %><br>
  		<%= @user_friendship.user.first_name %>
  	</div>
  	<div class="col-sm-2">
  		<%= image_tag @user_friendship.friend.gravatar_url %><br>
  		<%= @user_friendship.friend.first_name %>
  	</div>	

    <div class="col-sm-2">
    <p class="alert-info"><%= @user_friendship.sub_message %></p>
    </div>
    <div class="col-sm-2">
        <% if @user_friendship.requested? %>
          <%= form_for @user_friendship, url: accept_user_friendship_path(@user_friendship), method: :put do |form| %>
            <%= submit_tag "Accept Friend", class: 'btn btn-primary' %>
          <% end %>
        <% end %>
    </div>
    <div class="col-sm-2">
        <%= form_for @user_friendship, url: block_user_friendship_path(@user_friendship), method: :put do |form| %>
          <%= submit_tag "Block Friend", class: 'btn' %>
        <% end %>
    </div>
    <div class="col-sm-2">
        <%= form_for @user_friendship, url: user_friendship_path(@user_friendship), method: :delete do |form| %>
            <%= submit_tag "Delete Friend", class: 'btn btn-danger' %>
        <% end %>

    </div>
</div>
<hr/>