<div class="row">
  <div class="col-sm-8">
    <h1>Newsfeed</h1>
  </div>
  <div class="col-sm-4">
    <h3><%= link_to " Create New Post", new_status_path, class:"fa fa-pencil-square-o btn btn-danger" %></h3>
  </div>
</div>
<hr>

<% @statuses_desc.each do |status| %>
  <div class="row well">
    <% if can_display_status?(status)%>

      <div class="col-sm-1 image">
        <%= link_to image_tag(status.user.gravatar_url), profile_path(status.user) %>

      </div>
      <div class="col-sm-7">
        <strong><%= link_to status.user.full_name, (status.user.profile_name) %></strong>
        <p><%= status.content %></p>
        <div class="meta">
          <%= link_to time_ago_in_words(status.created_at) + " ago", status %> 
          <span class="admin">
            | <%= link_to "", edit_status_path(status), class:"fa fa-pencil-square-o" %> | 
            <%= link_to "", status, method: :delete, data: { confirm: "Are you sure your want to delete this status?"}, class:"fa fa-trash-o" %>
          </span>
        </div>
      </div> 

    <% end %>
  </div>
  <hr>
<% end %>

